/* Map */

#map {
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}

/* Header */

header {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    padding: 20px;
}

/* Asides */

.aside-1, .aside-2{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    /* box-shadow: 0 0 10px -5px #333; */
}

.aside-1 {
    min-width: 90px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 0 10px -5px #333;
}

.aside-2 {
    z-index: 5;
    overflow-y: auto;
}

.aside-1 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-1 li:first-child {
  margin-top: 1.5rem;
}

.aside-1 li:not(:last-child) {
  margin-bottom: 1.5rem;
}

.aside-button {
    background: white;
    border: 0;
    cursor: pointer;
    color: #5c5c5c;
    text-decoration-line: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aside-button.disable{
    opacity: 0.5;
}

.aside-button p {
    margin: 0;
    white-space: nowrap;
    font-size: 12px;
    font-weight: 600;
}

.aside-button span {
    font-size: xx-large;
}

.aside-button button {
    background: white;
    border: 0;
    cursor: pointer;
}

.aside-2 {
    width: 300px;
    position: fixed;
    left: -350px;
    padding-left: 90px;
    box-shadow: none;
    background-color: transparent;
    transition: background-color 300ms ease-out, box-shadow 300ms ease-out;
}

.aside-2.show {
    background-color: white;
    box-shadow: 0 0 10px -5px #333;
    height: 100vh;
}

/* Panel */

#info {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0 10px 0 10px;
}

.panel {
    display: none;
    flex-direction: column;
    padding: 20px;
    margin: 20px 10px 0 10px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px -5px #333;
    opacity: 0;
    transition: opacity 100ms ease-out, box-shadow 300ms ease-out;
    position: relative;
}

.panel.no-shadow {
    box-shadow: none;
}

.panel h1 {
    margin: 0;
    font-weight: 800;
}

.panel p {
    margin: 0.5rem 0 0 0;
    color: gray;
    font-size: 14px;
}

.block {
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.block h2 {
    margin: 0 0 0.75rem 0;
    font-size: large;
    font-weight: 700;
}

.block-h {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 1rem 0;
}

/* Panel info */
#info h2{
    margin: 0 0 0.75rem 0;
    font-size: x-large;
    font-weight: 700;
}

/* User menu */
#user-menu{
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    margin: 70px 20px 0 0;
    padding: 5px;
    z-index: 10;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px -5px #333;
    transition: opacity 100ms ease-out;
    list-style: none;
}

#user-menu a, #user-menu button {
    display: block;
    padding: .5rem .75rem .5rem .75rem;
    border-radius: .5rem;
    font-size: 14px;
    text-align: center;
    background-color: white;
    border: 0;
    text-decoration: none;
    cursor: pointer;
}

#user-menu a:hover, #user-menu button:hover {
    background-color: #dadada;
    border-radius: .5rem;
}

#user-menu a:visited {
    color: black;
}

#botonReservar {
    display: none;
}

/* Panel reservas */

#panelBienvenida {
    opacity: 1;
    display: flex;
}

#panelBienvenida p {
    color: #333;
}

#panelBienvenida a {
    margin-top: 1rem;
}

/* Loading */
.loading {
    background-color:rgba(255, 255, 255, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 90px;
    z-index: 1;
    display: none;
    align-items: center;
    justify-content: center;
}

.loading-icon {
  border: 4px solid #00d1b2;
  border-top: 4px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}

/* Keyframes */

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes openMenu{
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes closeMenu{
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

