body * {
    font-family: 'Inter', sans-serif;
}

body {
    display: flex;
    margin: 0;
}

/* Input */

.input {
    border-radius: 14px;
    padding: .5rem 0 .5rem 1rem;
    border: gray 2px solid;
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.input:focus{
    outline: none;
    border: #366fff 2px solid;
}

/* Botones */

.boton{
    background-color: #fff;
    border: 1px solid gray;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    padding: .5rem 1rem .5rem 1rem;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    font-size: 14px;
    border-radius: .375em;
    text-decoration-line: none;
    display: block;
}

.boton.boton-1 {
    background-color: #00d1b2;
    border-color: transparent;
    color: #fff;
}

.close-button {
    color: gray;
    background: 0;
    border: 0;
    position: absolute;
    cursor: pointer;
    right: 1rem;
    top: 1rem;
}

/* Estilos varios */
.green-emphasis {
    background-color: #effaf5;
    color: #257953 !important;
    border: 2px solid #257953;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 1rem;
}

.red-emphasis {
    background-color: #feecf0;
    color: #cc0f35 !important;
    border: 2px solid #cc0f35;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 1rem;
}

.orange-emphasis {
    background-color: #fdf3ef;
    color: #e8825a !important;
    border: 2px solid #ff9970;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 1rem;
}

.blue-emphasis {
    background-color: #edf0ff;
    color: #485fc7 !important;
    border: 2px solid #485fc7;
    padding: .5rem 0 .5rem 1rem;
    border-radius: 1rem;
}

.line {
    border-bottom: 1px solid #dadce0;
    width: 100%;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    background-color: rgba(91, 112, 131, 0.4);
    top: 0;
    left: 0;
}

.modal-card{
    /* display: flex; */
    display: none;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px -5px #333;
    max-width: 450px;
    position: relative;
}